.Grid {
  display: flex;
  flex-wrap: wrap;

  .GridItem {
    width: 100%;
    color: #fff;
    padding: 5px;
    box-sizing: border-box;
    cursor: pointer;
    .container {
      .title {
        font-size: .9em;
        font-weight: 300;
      }
    }
    @media screen and (min-width: 750px) {
      width: 50%;
    }
    @media screen and (min-width: 1080px){
      width: 16.6%;
    }
  }
}